@import '../../style/themes.scss';

$prefix: leo-listpage;


.#{$prefix} {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &-header{
    width: 100%;
    
  }
  &-body {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &-footer{
    &-default{
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: relative;
      text-align: center;

      >span {
        &:first-child {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 10px;
        }

        &:last-child {
          color: #666;
          font-size: 14px;

        }
      }
    }
  }
  &-empty-default {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-noMore-default {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 14px;
  }
}