
*{font-family:"Microsoft YaHei";}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{
  -webkit-text-size-adjust:100%;
  font-size: 14px;
} 
a{text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
button,input,textarea{outline: none;background-color: transparent;border: none;}
a, a:hover, a:visited, a:link, a:active , a:focus {
    outline: none;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}