@import '../../style/themes.scss';
$prefix:leo-carousel;

.#{$prefix}{
    width: 100%;
    height: $height-base;
    overflow: hidden;
    position: relative;
    &-wrap{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &-item{
        width: 100%;
        box-sizing: border-box;
        height: $height-base;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $black;
        display: flex;
        align-items: center;
    }
}