@import '../../style/themes.scss';

$prefix:leo-progress;

.#{$prefix} {
    &-line {
        width: 100%;
        height: $progress-height-base;
        background-color: $white;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow-base;
        overflow: hidden;
        &-main {
            height: 100%;
            transition: width 1s;
            background-color: $progress-color;
            border-radius: $border-radius-base;
        }
    }
}